
body,
html{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #F6F4F2;
}


.stagger-visualizer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.stagger-visualizers{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.stagger-visualizer div {
  /*position: absolute;*/
  width: 64px;
  height: 128px;
  border: 1px solid #373535;
  background-color: #F6F4F2;
}

.stagger-visualizers div {
    /*position: absolute;*/
    width: 64px;
    height: 128px;
    border: 1px solid #373535;
    background-color: #F6F4F2;
  }
  
.con-fc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background:rgb(11 11 12);;
    z-index: 1;
}

.con-fr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 9;
}

.con-cod{
    background-color: aliceblue;
    border: 1px solid grey;
    width: 7em;
    height: 11em;
    margin: 9px;
}
